name: CI
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - run: |
          npm i --ignore-scripts
      - run: |
          npm run lint

  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - run: |
          npm i --ignore-scripts
      - run: |
          npm run test

  integrity:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: checkout repo
      uses: actions/checkout@v5
      with:
        persist-credentials: false
    - uses: actions/setup-node@v5
      with:
        check-latest: true
        node-version: lts/*
    - name: Build action
      run: |
        npm i --ignore-scripts &&
        npm run build
    - name: Repository Integrity Check
      run: |
        git diff --quiet dist

  automerge:
    name: Automerge Dependabot PRs
    if: >
        github.event_name == 'pull_request' &&
        github.event.pull_request.head.repo.full_name == github.repository &&
        github.event.pull_request.user.login == 'dependabot[bot]'
    needs:
      - lint
      - test
      - integrity
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: fastify/github-action-merge-dependabot@1b2ed42db8f9d81a46bac83adedfc03eb5149dff # v3.11.2
